* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Colors */
:root {
  --color-green-200-lighter: hsl(148, 38%, 91%);
  --color-green-600-medium: hsl(169, 82%, 27%);
  --color-green-700-darker: hsl(150, 38%, 17%);
  --color-red: hsl(0, 66%, 54%);
  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-grey-500-medium: hsl(186, 15%, 59%);
  --color-neutral-grey-900-darker: hsl(187, 24%, 22%);
}

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  background-color: var(--color-green-200-lighter);
  color: var(--color-neutral-grey-900-darker);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  text-align: center;
  overflow-x: hidden;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.success-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.message-container {
  display: none;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--color-green-600-medium);
  border-radius: 1rem;
  margin-top: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  margin-top: 1rem;
  padding: 2rem;
  max-width: 310px;
  margin-bottom: 2rem;
  border-radius: 1rem;
  padding: 1.5rem;
  background-color: var(--color-neutral-white);
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.container h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
}
/* Container styling */
#contact-form {
  max-width: 300px;
}

/* Form group layout and alignment */
.form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Radio options container styling */
.form-group .query-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

/* Individual radio option styling */
.form-group .query-options .radio-option {
  border: 1px solid var(--color-neutral-grey-500-medium);
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;

}

/* Hide default checkboxes and radio buttons */
/* input[type="checkbox"],
input[type="radio"] {
  display: none;
} */

/* Apply styles to .radio-option when the associated radio input is checked */
.query-options input[type="radio"]:checked + .radio-option {
  background-color: var(--color-green-200-lighter);
  border-color: var(--color-green-600-medium);
}

/* Change SVG icon color when the radio is checked */
.query-options input[type="radio"]:checked + .radio-option label svg path {
  fill: var(--color-green-600-medium); /* Checked SVG color */
}


/* General label styling */
.form-group label {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}

/* Input and textarea styling */
.form-group input,
.form-group textarea {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-neutral-grey-500-medium);
  margin-bottom: 0.5rem;
  font-size: 1rem;
  width: 100%;
  transition: border-color 0.3s;
}

.form-group textarea {
  height: 200px;
  max-height: 300px;
}

/* Hover and focus state for inputs and textarea */
.form-group input:hover,
.form-group textarea:hover {
  border-color: var(--color-green-600-medium);
  cursor: pointer;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: var(--color-green-600-medium);
  outline: none;
}

/* Submit button styling */
button {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--color-green-600-medium);
  color: var(--color-neutral-white);
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

button:hover {
  background-color: var(--color-green-700-darker);
}

/* Error messages styling */
span.error {
  display: none;
  color: var(--color-red);
  font-size: 0.875rem;
}
input.error, textarea.error {
  border: 1px solid var(--color-red);
}

footer .attribution {
  font-size: 0.73rem;
  text-align: center;
  opacity: 0.8;
  color: #8c8c8c;
  margin-top: 3rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Responsive design */
@media screen and (min-width: 768px) {
  main {
    max-width: 600px;
    flex-direction: row;
  }
  #contact-form {
    max-width: 600px;
  }
  .container .contact-name{
    display: flex;
    gap: 1rem;
  }
  .form-group .query-options {
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }
  .form-group .query-options .radio-option {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-group .query-options .radio-option:first-child {
    margin-right: 1rem;
  }
  .form-group textarea {
    height: 100px
  }


}
@media screen and (min-width: 1024px) {
  main {
    max-width: 900px;
  }
  #contact-form {
    max-width: 900px;
  }
  footer.attribution {
    font-size: 0.875rem;
  }
  footer.attribution a {
    color: hsl(228, 45%, 55%);
  }


}
